<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="acess" type="text" placeholder="acess">
    <input id="password" type="text" placeholder="password">
    <input id="login" type="submit" value="ok" onclick="login()">
    <%- include("script") %>
</body>
</html>