<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input id="idUser" class="insert" type="text" placeholder="idUser">
    </div>
    <div>
        <input id="idPlace" class="insert" type="text" placeholder="idPlace">
    </div>
    <div>
        <input id="eventName" class="insert" type="text" placeholder="eventName">
    </div>
    <div>
        <input id="description" class="insert" type="text" placeholder="description">
    </div>
    <div>
        <input id="insert" type="submit" value="Insert" onclick="insert()">
        <a id="comeBack" href="/">Come back</a>
    </div>
    <%- include("script.ejs") %>
</body>
</html>